{:slides ["slides/lobby.md"
          "slides/hello.md"
          "slides/why-joyride.md"
          "slides/joyride-provides.md"
          "slides/joyride-api.md"
          "slides/example.md"
          "slides/lobby.md"
          "slides/questions.md"
          "slides/more-examples.md"]}